{% extends 'base.html' %}

{% block title %}
<title>Unit School: POSTS</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Posts</h1>
</div>

{% if request.user.is_authenticated %}
<div class="container">
    <a href="{% url 'create_post' %}" class="btn btn-outline-info float-end">
        Create post
    </a>
</div>
{% endif %}

<div class="container">
    <ul class="list-group list-group-flush">
        {% for post in posts %}
        <li class="list-group-item d-flex justify-content-between bg-info m-5 rounded ">
            <div class="left">
                <h4>{{ post.title }}</h4>
                <p>{{post.content|striptags}}</p>
            </div>


            {% if request.user == post.author %}
            <div class="right">
                <a href="{% url 'update_post' post.id %}" class="btn btn-sm btn-light m-1">🖊️</a>
                <a href="{% url 'delete_post' post.id %}" class="btn btn-sm btn-light m-1">🗑️</a>
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}